a {
    color: #7289DA;
    text-decoration: none;
}

a:visited {
    color: #7289DA;
    text-decoration: none;
}

a:hover {
    color: #7289DA;
    text-decoration: none;
}

body {
    background-color: #2C2F33;
}

.img1 {
    padding-left: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }  

  label {
      font-weight: bold;
      font-size: 14px;
  }

  .parallax {
    /* The image used */
    background-image: url("IMG/parallax.png");
  
    /* Set a specific height */
    min-height: 150px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax2 {
    /* The image used */
    background-image: url("IMG/parallax2.png");
  
    /* Set a specific height */
    min-height: 150px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header {
      background-color: #23272A;
      width: 100%;
      height: 50px;
  }

  .header-button {
      background-color: #23272A;
      border: none;
      color: black;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      cursor: pointer;
      padding: 15px 15px;
  }